body{
            padding-top:1em;
            font-family: 'Exo 2', sans-serif!important;
        }
        a {
    color: green!important;
    
        }
        .heroTitle h2 {
          font-size: 4em;
        }
        .heroTitle p {
          font-weight: bold;
          font-size: 1.2em;
          margin-bottom: 30px;
        }
        h2,h3, h5 {
          padding-bottom:5px;
          border-bottom: 2px solid green;
          display: inline-block;
        }
        a.nav-link{
          text-transform:uppercase;
        }
        a.nav-link.active{
          font-weight: bold;
        }
        #code { 
            width:100%;
            height:300px;
        }
        #compiled, #compiled2,#compiled3{
            height: 300px;
            width: 100%;
            word-wrap: break-word;
            white-space: normal;
            display: block;
        }
        pre{
            background-color:#eee;
            padding:5px;
        }
        .footer{
            text-align:center;
            margin:40px;
            font-size:.8em;
        }
        #currentAddress{
          font-style:italic;
          color:#aaa;
          font-size:.8em;
          display:none;
        }
        .logos img {
          width:100px;
        }
        #currentBalance{
          display:none;
            font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}
        
        #recentLuck table  {
            margin: 0 auto;
        }
        #recentLuck table th, #recentLuck table td {
          padding: 2px 10px;
        }
        .nav-tabs{
          text-align:center!important;
          display:block;
        }
        .nav-tabs .nav-item{
          display:inline-block;
        }
        .tab-content{
          padding-top:50px;
        }
        label{font-weight:bold;}
        .generatedKeys{display:none;padding-top:20px;}